<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-test-2-heading" jhiTranslate="testJhipster3App.test2.home.createOrEditLabel">Create or edit a Test 2</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!test2.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="test2.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testJhipster3App.test2.names" for="field_names">Names</label>
                    <input type="text" class="form-control" name="names" id="field_names"
                        [(ngModel)]="test2.names" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testJhipster3App.test2.sexs" for="field_sexs">Sexs</label>
                    <input type="text" class="form-control" name="sexs" id="field_sexs"
                        [(ngModel)]="test2.sexs" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
