<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-test-1-heading" jhiTranslate="testJhipster3App.test1.home.createOrEditLabel">Create or edit a Test 1</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!test1.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="test1.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testJhipster3App.test1.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="test1.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testJhipster3App.test1.sex" for="field_sex">Sex</label>
                    <input type="text" class="form-control" name="sex" id="field_sex"
                        [(ngModel)]="test1.sex" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testJhipster3App.test1.age" for="field_age">Age</label>
                    <input type="number" class="form-control" name="age" id="field_age"
                        [(ngModel)]="test1.age" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
